<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <div class="row">
          <div class="col-md-12">
            <div class="col-md-6">
              <%= link_to comment.user.username, comment.user%>
              <%= ": #{time_ago_in_words(comment.created_at)}"%>
            </div>
            <div class="col-md-6 text-right">
            
            </div>
          </div>
        </div>
      </h4>
    </div>

    <div class="panel-body">
      <%= comment.body %>
    </div>
    <div class="panel-footer"></div>
  </div>
</div>
