<% provide(:title, "#{@user.username}'s Profile'") %>

<%= render 'profile' %>

<!--<%= @user.username %>
</br>
<%= @user.email %>
</br>
<% @user.listings.each do |listing| %>
  <p><%= listing.name %><br></p>
<% end %>
-->
