<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h2 class="modal-title">
        <div class="text-center">
          About: rPastie
        </h2>
      </div>
      <div class="modal-body">
        <p>We are a simple pastebin alternative written completely in Ruby, utilizing the Rails framework. If you'd like to suggest features or notice any glitches please go to our
          <%= link_to 'github page', 'https://github.com/ilovemysillybanana/pastie' %>
          We are currently looking for a designer, however, we do not possess a 'designer-having'-budget, but if you feel like contributing to the cause and adding us to your portfolio, go head! :)
          <br>
        </p>
        <p>
          <strong>Kasper Meerts</strong>: Helping find several security flaws in early stages, he would like everyone to know we're homies.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onclick="window.open('https://github.com/kaspermeerts')" >@kasper meerts</button>
      </div>
    </div>
  </div>
