<% provide(:title, "About Us") %>
<div class="text-center">
<h2>About: rPastie</h2>
<article>
  <p>
  We are a simple pastebin alternative written completely in Ruby, utilizing the Rails framework.
  If you'd like to suggest features or notice any glitches please go to our <%= link_to 'github page', 'https://github.com/ilovemysillybanana/pastie' %>
  <br>
  We are currently looking for a designer, however, we do not possess a 'designer-having'-budget,
  but if you feel like contributing to the cause and adding us to your portfolio, go head! :)
  <p>
</article>
</div>

<div class="text-center">
  <h3>Special Thanks</h3>
  <ul>
    <li><strong>Kasper Meerts</strong>: Helping find several security flaws in early stages, he would like everyone to know we're homies.</li>
  </ul>
</div>
