<h1>About: rPastie</h1>
<article>
  <p>
  We are a simple pastebin alternative written completely in Ruby, utilizing the Rails framework.
  If you'd like to suggest features or notice any glitches please go to our <%= link_to 'github page', 'https://github.com/ilovemysillybanana/rpaste' %>
  <br>
  We are currently looking for a designer, however, we do not possess a 'designer-having'-budget,
  but if you feel like contributing to the cause and adding us to your portfolio, go head! :)
  <p>
</article>
