@import "bootstrap-sprockets";
@import "bootstrap";

pre {
  overflow: auto;
  width: 100%;
  white-space: pre-wrap;                 /* CSS3 browsers  */
	white-space: -moz-pre-wrap !important; /* 1999+ Mozilla  */
	white-space: -pre-wrap;                /* Opera 4 thru 6 */
	white-space: -o-pre-wrap;              /* Opera 7 and up */
	word-wrap: break-word;                 /* IE 5.5+ and up */
	/* overflow-x: auto; */                /* Firefox 2 only */
	/* width: 99%; */		       /* only if needed */
}

.dropdown-menu {
  right:auto;
}

body {
	padding-top: 5%;
}

.codeblock {
	display: inline-block;
	width: 50%;
	float:left;
}

.commentblock {
	float: right;
	border-color: black;
	border-width: thick;
	width: 640px; /*can be in percentage also.*/
    height: auto;
    margin: 0 auto;
    padding: 10px;
    position: relative;
}
